
	<f:format.html>{content}</f:format.html>
	<f:form action="show" class="bb_disclamer">
		<f:form.checkbox name="disclamer" value="Gelesen" class="check" />
		<f:form.submit name="save" value="Speichern" class="submit" />
	</f:form>
